@mixin flex(
  $isInline: false,
  $justifyContent: flex-start,
  $alignItems: flex-start,
  $direction: row
) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;

  @if $isInline {
    display: inline-flex;
  }
}
